@font-face {
  font-family: Arial;
  font-display: swap;
  src: url("../fonts/ArialBold.woff2") format("woff2"), url("../fonts/ArialBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Arial;
  font-display: swap;
  src: url("../fonts/ArialRegular.woff2") format("woff2"), url("../fonts/ArialRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

input,
button,
textarea {
  font-family: "Arial";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Arial";
  font-weight: 400;
  color: #000;
  font-size: 1rem;
  background: #fff;
}

body.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > * {
  min-width: 0;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[data-fullscreen] {
  min-height: 100vh;
}

.touch [data-fullscreen] {
  min-height: calc(var(--vh, 1vh) * 100);
  -webkit-transition: min-height 0.2s;
  -o-transition: min-height 0.2s;
  transition: min-height 0.2s;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.main__arrow {
  position: absolute;
  left: 50%;
  bottom: 10px;
  width: 25px;
  height: 25px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.main__arrow:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-left: 3px solid #323232;
  border-bottom: 3px solid #323232;
  -webkit-animation: arrow-anm 2s linear infinite;
          animation: arrow-anm 2s linear infinite;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 40px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .main__wrapper {
    row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .main__wrapper {
    row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 100);
  }
}

.main__header {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  background: -o-linear-gradient(228.58deg, #363199 0%, #6346b2 100%);
  background: linear-gradient(221.42deg, #363199 0%, #6346b2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  max-width: 250px;
}

@supports (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .main__header {
    font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .main__header {
    font-size: calc(1.5625rem + 1.1875 * (100vw - 20rem) / 100);
  }
}

.main__title {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 1.25rem , 0.875rem  +  1.875vw , 3.125rem )) {
  .main__title {
    font-size: clamp( 1.25rem , 0.875rem  +  1.875vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.875rem  +  1.875vw , 3.125rem )) {
  .main__title {
    font-size: calc(1.25rem + 1.875 * (100vw - 20rem) / 100);
  }
}

.main__text {
  line-height: 130%;
  color: rgba(51, 51, 51, 0.82);
  max-width: 650px;
}

@supports (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .main__text {
    font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .main__text {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 100);
  }
}

.main__button {
  background: #363199;
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  padding: 22px 64px;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.media {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  position: relative;
  min-height: 300px;
}

.media__block {
  position: absolute;
  bottom: 44px;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background: #ffffff;
  border-radius: 16px;
  padding: 15px 10px;
  text-align: center;
}

@supports (min-width: clamp( 15.625rem , 13.125rem  +  12.5vw , 28.125rem )) {
  .media__block {
    min-width: clamp( 15.625rem , 13.125rem  +  12.5vw , 28.125rem );
  }
}

@supports not (min-width: clamp( 15.625rem , 13.125rem  +  12.5vw , 28.125rem )) {
  .media__block {
    min-width: calc(15.625rem + 12.5 * (100vw - 20rem) / 100);
  }
}

@supports (min-width: clamp( 15.625rem , 11.875rem  +  18.75vw , 34.375rem )) {
  .media__block_big {
    min-width: clamp( 15.625rem , 11.875rem  +  18.75vw , 34.375rem );
  }
}

@supports not (min-width: clamp( 15.625rem , 11.875rem  +  18.75vw , 34.375rem )) {
  .media__block_big {
    min-width: calc(15.625rem + 18.75 * (100vw - 20rem) / 100);
  }
}

.media__name {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 1.125rem , 0.725rem  +  2vw , 3.125rem )) {
  .media__name {
    font-size: clamp( 1.125rem , 0.725rem  +  2vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.725rem  +  2vw , 3.125rem )) {
  .media__name {
    font-size: calc(1.125rem + 2 * (100vw - 20rem) / 100);
  }
}

@supports (margin-bottom: clamp( 0.00000625rem , -0.1249925rem  +  0.62499375vw , 0.625rem )) {
  .media__name {
    margin-bottom: clamp( 0.00000625rem , -0.1249925rem  +  0.62499375vw , 0.625rem );
  }
}

@supports not (margin-bottom: clamp( 0.00000625rem , -0.1249925rem  +  0.62499375vw , 0.625rem )) {
  .media__name {
    margin-bottom: calc(0.00000625rem + 0.62499375 * (100vw - 20rem) / 100);
  }
}

.media__post {
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 0.9375rem , 0.85rem  +  0.4375vw , 1.375rem )) {
  .media__post {
    font-size: clamp( 0.9375rem , 0.85rem  +  0.4375vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.85rem  +  0.4375vw , 1.375rem )) {
  .media__post {
    font-size: calc(0.9375rem + 0.4375 * (100vw - 20rem) / 100);
  }
}

.experts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experts__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
}

.experts__wrapper {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .experts__wrapper {
    row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .experts__wrapper {
    row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 100);
  }
}

.experts__title {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .experts__title {
    font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .experts__title {
    font-size: calc(1.5625rem + 1.1875 * (100vw - 20rem) / 100);
  }
}

.experts__text {
  font-weight: 400;
  line-height: 130%;
  color: rgba(51, 51, 51, 0.82);
}

@supports (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .experts__text {
    font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .experts__text {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 100);
  }
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advantages__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
}

.advantages__wrapper {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .advantages__wrapper {
    row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .advantages__wrapper {
    row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 100);
  }
}

.advantages__title {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .advantages__title {
    font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .advantages__title {
    font-size: calc(1.5625rem + 1.1875 * (100vw - 20rem) / 100);
  }
}

.advantages__list {
  padding-left: 30px;
}

.advantages__item {
  line-height: 130%;
  color: rgba(51, 51, 51, 0.82);
}

@supports (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .advantages__item {
    font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .advantages__item {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 100);
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 10px;
}

.save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.save__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
}

.save__wrapper {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .save__wrapper {
    row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .save__wrapper {
    row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 100);
  }
}

.save__title {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .save__title {
    font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .save__title {
    font-size: calc(1.5625rem + 1.1875 * (100vw - 20rem) / 100);
  }
}

.save__text {
  font-weight: 400;
  line-height: 130%;
  color: rgba(51, 51, 51, 0.82);
}

@supports (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .save__text {
    font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .save__text {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 100);
  }
}

.save__table {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #c8d1da;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 40px;
}

.save__img img {
  max-width: 100%;
}

.save__block {
  background: #ffffff;
  border-radius: 16px;
  padding: 15px 10px;
  text-align: center;
  margin-top: 40px;
}

@supports (min-width: clamp( 6.25rem , -2.375rem  +  43.125vw , 49.375rem )) {
  .save__block {
    min-width: clamp( 6.25rem , -2.375rem  +  43.125vw , 49.375rem );
  }
}

@supports not (min-width: clamp( 6.25rem , -2.375rem  +  43.125vw , 49.375rem )) {
  .save__block {
    min-width: calc(6.25rem + 43.125 * (100vw - 20rem) / 100);
  }
}

.save__sub-title {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 1rem , 0.575rem  +  2.125vw , 3.125rem )) {
  .save__sub-title {
    font-size: clamp( 1rem , 0.575rem  +  2.125vw , 3.125rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.575rem  +  2.125vw , 3.125rem )) {
  .save__sub-title {
    font-size: calc(1rem + 2.125 * (100vw - 20rem) / 100);
  }
}

@supports (margin-bottom: clamp( 0.3125rem , 0.25rem  +  0.3125vw , 0.625rem )) {
  .save__sub-title {
    margin-bottom: clamp( 0.3125rem , 0.25rem  +  0.3125vw , 0.625rem );
  }
}

@supports not (margin-bottom: clamp( 0.3125rem , 0.25rem  +  0.3125vw , 0.625rem )) {
  .save__sub-title {
    margin-bottom: calc(0.3125rem + 0.3125 * (100vw - 20rem) / 100);
  }
}

.save__sub-text {
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 0.875rem , 0.775rem  +  0.5vw , 1.375rem )) {
  .save__sub-text {
    font-size: clamp( 0.875rem , 0.775rem  +  0.5vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.775rem  +  0.5vw , 1.375rem )) {
  .save__sub-text {
    font-size: calc(0.875rem + 0.5 * (100vw - 20rem) / 100);
  }
}

.expertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.expertise__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
}

.expertise__wrapper {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .expertise__wrapper {
    row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .expertise__wrapper {
    row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 100);
  }
}

.expertise__title {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .expertise__title {
    font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .expertise__title {
    font-size: calc(1.5625rem + 1.1875 * (100vw - 20rem) / 100);
  }
}

.expertise__text {
  font-weight: 400;
  line-height: 130%;
  color: rgba(51, 51, 51, 0.82);
}

@supports (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .expertise__text {
    font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .expertise__text {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 100);
  }
}

.study {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.study__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
}

.study__wrapper {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .study__wrapper {
    row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .study__wrapper {
    row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 100);
  }
}

.study__title {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .study__title {
    font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .study__title {
    font-size: calc(1.5625rem + 1.1875 * (100vw - 20rem) / 100);
  }
}

.study__text {
  font-weight: 400;
  line-height: 130%;
  color: rgba(51, 51, 51, 0.82);
}

@supports (font-size: clamp( 1.125rem , 0.95rem  +  0.875vw , 2rem )) {
  .study__text {
    font-size: clamp( 1.125rem , 0.95rem  +  0.875vw , 2rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 0.95rem  +  0.875vw , 2rem )) {
  .study__text {
    font-size: calc(1.125rem + 0.875 * (100vw - 20rem) / 100);
  }
}

.study__button {
  background: #363199;
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  padding: 22px 64px;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 40px;
}

.contact__wrapper {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@supports (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .contact__wrapper {
    row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem );
  }
}

@supports not (row-gap: clamp( 1.25rem , 1rem  +  1.25vw , 2.5rem )) {
  .contact__wrapper {
    row-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 100);
  }
}

.contact__title {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
}

@supports (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .contact__title {
    font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.5625rem , 1.325rem  +  1.1875vw , 2.75rem )) {
  .contact__title {
    font-size: calc(1.5625rem + 1.1875 * (100vw - 20rem) / 100);
  }
}

.contact__text {
  font-weight: 400;
  line-height: 130%;
  color: rgba(51, 51, 51, 0.82);
}

@supports (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .contact__text {
    font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .contact__text {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 100);
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

@supports (row-gap: clamp( 0.625rem , 0.45rem  +  0.875vw , 1.5rem )) {
  .form {
    row-gap: clamp( 0.625rem , 0.45rem  +  0.875vw , 1.5rem );
  }
}

@supports not (row-gap: clamp( 0.625rem , 0.45rem  +  0.875vw , 1.5rem )) {
  .form {
    row-gap: calc(0.625rem + 0.875 * (100vw - 20rem) / 100);
  }
}

.form__input {
  background: rgba(54, 49, 153, 0.08);
  border: 1px solid rgba(51, 51, 51, 0.82);
  border-radius: 4px;
  padding: 0 15px;
  line-height: 120%;
}

@supports (font-size: clamp( 1.125rem , 1.1rem  +  0.125vw , 1.25rem )) {
  .form__input {
    font-size: clamp( 1.125rem , 1.1rem  +  0.125vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.1rem  +  0.125vw , 1.25rem )) {
  .form__input {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 100);
  }
}

@supports (height: clamp( 2.5rem , 2.375rem  +  0.625vw , 3.125rem )) {
  .form__input {
    height: clamp( 2.5rem , 2.375rem  +  0.625vw , 3.125rem );
  }
}

@supports not (height: clamp( 2.5rem , 2.375rem  +  0.625vw , 3.125rem )) {
  .form__input {
    height: calc(2.5rem + 0.625 * (100vw - 20rem) / 100);
  }
}

.form__input::-webkit-input-placeholder {
  color: #323232;
}

.form__input::-moz-placeholder {
  color: #323232;
}

.form__input:-ms-input-placeholder {
  color: #323232;
}

.form__input::-ms-input-placeholder {
  color: #323232;
}

.form__input::placeholder {
  color: #323232;
}

.form__select {
  background: rgba(54, 49, 153, 0.08);
  border: 1px solid rgba(51, 51, 51, 0.82);
  border-radius: 4px;
  padding: 0 15px;
  line-height: 120%;
  color: #323232;
  cursor: pointer;
}

@supports (font-size: clamp( 1.125rem , 1.1rem  +  0.125vw , 1.25rem )) {
  .form__select {
    font-size: clamp( 1.125rem , 1.1rem  +  0.125vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.1rem  +  0.125vw , 1.25rem )) {
  .form__select {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 100);
  }
}

@supports (height: clamp( 2.5rem , 2.375rem  +  0.625vw , 3.125rem )) {
  .form__select {
    height: clamp( 2.5rem , 2.375rem  +  0.625vw , 3.125rem );
  }
}

@supports not (height: clamp( 2.5rem , 2.375rem  +  0.625vw , 3.125rem )) {
  .form__select {
    height: calc(2.5rem + 0.625 * (100vw - 20rem) / 100);
  }
}

.form__text {
  background: rgba(54, 49, 153, 0.08);
  border: 1px solid rgba(51, 51, 51, 0.82);
  border-radius: 4px;
  padding: 10px 15px;
  line-height: 120%;
  resize: vertical;
  color: #323232;
}

@supports (font-size: clamp( 1.125rem , 1.1rem  +  0.125vw , 1.25rem )) {
  .form__text {
    font-size: clamp( 1.125rem , 1.1rem  +  0.125vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.1rem  +  0.125vw , 1.25rem )) {
  .form__text {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 100);
  }
}

@supports (height: clamp( 2.5rem , 2.375rem  +  0.625vw , 3.125rem )) {
  .form__text {
    height: clamp( 2.5rem , 2.375rem  +  0.625vw , 3.125rem );
  }
}

@supports not (height: clamp( 2.5rem , 2.375rem  +  0.625vw , 3.125rem )) {
  .form__text {
    height: calc(2.5rem + 0.625 * (100vw - 20rem) / 100);
  }
}

.form__button {
  background: #363199;
  border-radius: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
  padding: 22px 64px;
  color: #fff;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.cities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #333643;
  color: #ffffff;
  padding: 80px 0px;
}

@supports (row-gap: clamp( 2.5rem , 2rem  +  2.5vw , 5rem )) {
  .cities {
    row-gap: clamp( 2.5rem , 2rem  +  2.5vw , 5rem );
  }
}

@supports not (row-gap: clamp( 2.5rem , 2rem  +  2.5vw , 5rem )) {
  .cities {
    row-gap: calc(2.5rem + 2.5 * (100vw - 20rem) / 100);
  }
}

.cities__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
}

@supports (padding-right: clamp( 0.00000625rem , -0.4999925rem  +  2.49999375vw , 2.5rem )) {
  .cities__column {
    padding-right: clamp( 0.00000625rem , -0.4999925rem  +  2.49999375vw , 2.5rem );
  }
}

@supports not (padding-right: clamp( 0.00000625rem , -0.4999925rem  +  2.49999375vw , 2.5rem )) {
  .cities__column {
    padding-right: calc(0.00000625rem + 2.49999375 * (100vw - 20rem) / 100);
  }
}

@supports (padding-left: clamp( 0.00000625rem , -0.4999925rem  +  2.49999375vw , 2.5rem )) {
  .cities__column {
    padding-left: clamp( 0.00000625rem , -0.4999925rem  +  2.49999375vw , 2.5rem );
  }
}

@supports not (padding-left: clamp( 0.00000625rem , -0.4999925rem  +  2.49999375vw , 2.5rem )) {
  .cities__column {
    padding-left: calc(0.00000625rem + 2.49999375 * (100vw - 20rem) / 100);
  }
}

.cities__title {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.82);
}

@supports (font-size: clamp( 1.375rem , 1.1rem  +  1.375vw , 2.75rem )) {
  .cities__title {
    font-size: clamp( 1.375rem , 1.1rem  +  1.375vw , 2.75rem );
  }
}

@supports not (font-size: clamp( 1.375rem , 1.1rem  +  1.375vw , 2.75rem )) {
  .cities__title {
    font-size: calc(1.375rem + 1.375 * (100vw - 20rem) / 100);
  }
}

.cities__number {
  line-height: 130%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-right: 50px;
  background: url("../img/whatsapp.svg") center right no-repeat;
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem )) {
  .cities__number {
    font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem )) {
  .cities__number {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 100);
  }
}

.cities__text {
  line-height: 130%;
  color: rgba(255, 255, 255, 0.82);
}

@supports (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .cities__text {
    font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .cities__text {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 100);
  }
}

.cities__sub-text {
  line-height: 130%;
}

@supports (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .cities__sub-text {
    font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9rem  +  0.5vw , 1.5rem )) {
  .cities__sub-text {
    font-size: calc(1rem + 0.5 * (100vw - 20rem) / 100);
  }
}

@-webkit-keyframes arrow-anm {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -5px) rotate(-45deg);
            transform: translate(0, -5px) rotate(-45deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(-45deg);
            transform: translate(0, 0) rotate(-45deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, 5px) rotate(-45deg);
            transform: translate(0, 5px) rotate(-45deg);
  }
}

@keyframes arrow-anm {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, -5px) rotate(-45deg);
            transform: translate(0, -5px) rotate(-45deg);
  }

  50% {
    opacity: 1;
    -webkit-transform: translate(0, 0) rotate(-45deg);
            transform: translate(0, 0) rotate(-45deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translate(0, 5px) rotate(-45deg);
            transform: translate(0, 5px) rotate(-45deg);
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 40px;
  background: #2B2D38;
  row-gap: 20px;
}

.footer__text {
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.82);
  max-width: 100px;
}

@supports (font-size: clamp( 1.0625rem , 1.0625rem  +  0vw , 1.0625rem )) {
  .footer__text {
    font-size: clamp( 1.0625rem , 1.0625rem  +  0vw , 1.0625rem );
  }
}

@supports not (font-size: clamp( 1.0625rem , 1.0625rem  +  0vw , 1.0625rem )) {
  .footer__text {
    font-size: calc(1.0625rem + 0 * (100vw - 20rem) / 100);
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.footer__link {
  line-height: 130%;
  color: #fff;
  margin: 0 24px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem )) {
  .footer__link {
    font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem )) {
  .footer__link {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 100);
  }
}

.footer__copy {
  font-size: 24px;
  line-height: 130%;
  color: #fff;
}

@supports (font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem )) {
  .footer__copy {
    font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.05rem  +  0.375vw , 1.5rem )) {
  .footer__copy {
    font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 100);
  }
}

@media (max-width: 1320px) {
  .cities__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .cities__text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (max-width: 1200px) {
  .footer {
    padding: 40px 20px;
  }

  .footer__copy {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
}

@media (max-width: 992px) {
  .main__button {
    font-size: 20px;
    padding: 20px 50px;
  }

  .study__button {
    font-size: 20px;
    padding: 20px 50px;
  }

  .form__button {
    font-size: 20px;
    padding: 20px 50px;
  }
}

@media (max-width: 768px) {
  .main__arrow {
    bottom: 20px;
    width: 20px;
    height: 20px;
  }

  .advantages__list {
    padding-left: 15px;
  }
}

@media (max-width: 61.99875em) {
  .cities {
    padding: 60px 15px;
  }
}

@media (max-width: 47.99875em) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 60px 15px;
  }

  .main__header {
    text-align: center;
    max-width: 100%;
  }

  .main__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 15px 40px;
    font-size: 15px;
  }

  .media__block {
    padding: 10px 10px;
    bottom: 15px;
  }

  .experts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .experts__content {
    padding: 30px 15px;
  }

  .experts__title {
    text-align: center;
  }

  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .advantages__content {
    padding: 30px 15px;
  }

  .advantages__title {
    text-align: center;
  }

  .save {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .save__content {
    padding: 30px 15px;
  }

  .save__title {
    text-align: center;
  }

  .save__table {
    padding: 30px 15px;
  }

  .save__block {
    margin-top: 20px;
    padding: 10px 10px;
    bottom: 15px;
  }

  .save__sub-title {
    margin-bottom: 5px;
  }

  .expertise {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .expertise__content {
    padding: 30px 15px;
  }

  .expertise__title {
    text-align: center;
  }

  .study {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .study__content {
    padding: 30px 15px;
  }

  .study__title {
    text-align: center;
  }

  .study__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 15px 40px;
    font-size: 15px;
  }

  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__content {
    padding: 30px 15px;
  }

  .contact__title {
    text-align: center;
  }

  .form__button {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 15px 40px;
    font-size: 15px;
  }

  .cities {
    padding: 40px 15px;
  }

  .cities__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    row-gap: 10px;
  }

  .footer {
    padding: 30px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__text {
    max-width: 100%;
  }

  .footer__link {
    margin: 0 10px;
  }
}

@media (max-width: 29.99875em) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (any-hover: hover) {
  .main__button:hover {
    background: #070094;
  }

  .study__button:hover {
    background: #070094;
  }

  .form__button:hover {
    background: #070094;
  }

  .cities__number:hover {
    color: rgb(196, 196, 196);
  }

  .footer__link:hover {
    color: rgb(196, 196, 196);
  }
}